.landing {
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.tour {
  margin: auto;
  margin-top: 100px;
  font-size: larger;
  font-weight: 500;
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.tour:hover {
  font-size: larger;
  font-weight: 500;
  color: #fff;
  display: block;
  background: #0275d8;
  height: 40px;
  width: 120px;
  text-decoration: none;
  text-align: center;
  border: 1px solid seashell;
  border-radius: 7px;
  padding-top: 3px;
  font-family: cursive;
}
